* {
   margin: 0;
   padding: 0;
   font-family: 'Quicksand', sans-serif;
}


body {
   background-color: #38324C;
   width: 100%;


}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background-color: #F54A7E;
   height: 70px;
   color: rgb(46, 17, 75);

}



nav {
   width: 300px;
   display: flex;
   justify-content: space-around;
   padding-left: 40%;
   text-decoration:none;

}
nav a{
   text-decoration:none;
   color: ghostwhite;
}

nav a:hover{
   color: ghostwhite;
   text-decoration:none;
}

#container {
   background-color:  ghostwhite;
   border-radius: 15px;
   margin: 15px;
   max-width: 600px;
   width: 100%;
   transform: translate(-50%, -50%);
   border-radius: 50px;
   align-items: center;
   justify-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   overflow: hidden;
}

.header {
   background-color: #F54A7E;
   padding: 20px;
   text-align: center;

}

.header h2{
   color: ghostwhite;
}

#form {
   padding: 20px;
   color: black;
}

.container-form{
   margin-bottom: 8px;
   padding-bottom:18px ;
   position: relative;
}

.container-form label{
   display: inline-block;
   margin-bottom: 4px;
}

.container-form input{
   display: block;
   width: 95%;
   height: 30px;
   padding: 5px;
   border-radius: 5px;
   border-top: none;
   border-left: none;
   border-right: none;
   outline: none;
   border-color: #38324C;
}
.container-form a{
   position: absolute;
   left: 0;
   visibility: hidden;
   bottom: -7px;
}
.container-form img{
   display: flex;
   left: 238px;
   position: absolute;
   visibility: hidden;
}
#form button{
   background-color: #F54A7E;
   color: aliceblue;
   width: 100%;
   border-radius: 8px;
   padding: 8px;
   border: none;
   cursor: pointer;
   margin-top: 10px;

}
#form button:hover{
   background-color: #821535;
   padding: 10px;
}
.container-form.error input{
   border-color: #e50615;
}
.container-form.error a{
   color: #e50615;
   visibility: visible;
}
.container-form.error img{
   visibility: visible;
}

@media (max-width: 700px) {

header{
   font-size: 12px;
}


   #container {
      width: 70%;
      font-size: 12px;
    }

  }



